<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Add this repository to the list of available repositories -->
        <add key="Mindaro" value="https://devdiv.pkgs.visualstudio.com/_packaging/fc5819b5-ed1c-4a51-9766-a55ddb558d72/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <Mindaro>
            <add key="Username" value="****@microsoft.com" />
            <add key="ClearTextPassword" value="******" />
        </Mindaro>
    </packageSourceCredentials>
</configuration>